body
{
  font-family : "Trebuchet MS", sans-serif;
}

h1
{
  font-family : Verdana, sans-serif;
  text-align : center;
}

#desk
{
  text-align : center;
}

.tombol
{
  font-family : "Avenir Next W01";
  border-radius : 25px;
  background : #73AD21;
  width : 100px;
  height : 50px;
}